/build
/CMakeLists.txt.user
/.idea
/cmake-build-*
CMakeCache.txt
cmake_install.cmake
Makefile
cmake-build-release/
src/crypto/asm/*.inc
src/crypto/asm/win/*.inc
test/
*CMakeFiles*
*.a
*.cbp
*.bak
.cmake/api/v1/reply
xmrig*
